/* Write your CSS here! */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  background-color:burlywood;
}

header {
  background-color:blanchedalmond;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  font-size: 3em;
  font-style: oblique;
  font-family: cursive;
  text-shadow: blueviolet 2.5px 2px;
}

h2 {
  font-size: 2.5em;
  color:antiquewhite;
  font-weight: bold;
  font-family: serif;
  text-shadow: goldenrod 2px 2px;
  margin: 0;
  padding: 0;
}

img{
  
}

p {
  font-size: 1.5em;
  line-height: 1.6;
  color: #333;

}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.funParagraph {
  color: green;
  text-align: left;
}

.leftAlign{
  text-align: left;
}

#mainHeading{
  text-align: left;
  margin: 0;
  color: red;
}